:root {
  /* Primary Colors */
  --navy-950: hsl(233, 47%, 7%);
  --blue-950: hsl(244, 37%, 16%);
  --purple-500: hsl(277, 64%, 61%);
  
  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --white-75: hsla(0, 0%, 100%, 0.75);
  --white-60: hsla(0, 0%, 100%, 0.6);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--navy-950);
    color: var(--white);
    font-family: inter;
    padding: 40px;
}

/*TYPOGRAPHY*/
h1, h2, h3, p{
    margin: 0
}

p{
    margin-top: 24px;
    color: var(--white-75);
}

h3{
    font-family: Lexend Deca;
    color: var(--white-60);
    font-weight: 400;
    font-size: 0.7rem
}

.highlight{
    color: var(--purple-500);
}



main{
    display: flex;
    background-color: var(--blue-950);
    border-radius: 0.5rem;
    max-width: 1130px;
}

.info-section, .img-section{
    flex: 1;
}

.info-section{
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.info-text-section{
    width: 400px;
    margin-bottom: 72px;
}



/*Stats Section*/

.stats-section{
    display: flex;
}

.stat{
    margin-right: auto;
}

.end-stat{
    margin: 0;
}


img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0 0.5rem 0.5rem 0;
}

/*RESPONSIVENESS*/

@media (max-width: 780px) {
    main{
        flex-direction: column-reverse;
        max-width: 90vw;
        
    }

    img{
        border-radius: 0;
    }

    .info-text-section{
        max-width: 300px;
    }

}

@media (max-width: 500px) {
    main{
        text-align: center;
        max-height: 90vh;
    }

    .info-section{
        padding: 2rem;
        align-items: center;
    }

    .info-text-section{
        margin-bottom: 40px;
    }

    .stats-section{
        flex-direction: column;
    }

    .stat{
        margin: 0;
        margin-bottom: 2rem;
    }

    .end-stat{
        margin-bottom: 0px;
    }

    img{
        border-radius: 0.5rem 0.5rem 0 0;
    }
}